body
{
    background-image: url('../images/main_bg.jpg');
    background-size: cover;
    width: 100%;
    margin:0;
}
nav{ 
    background-image: url('../images/header_bg01.png');
    overflow:hidden;
    background-size: cover;
    padding-top: 15px !important;
    margin-bottom: 0px !important;
    padding-bottom:0px !important; 
}

    
nav a{        
    margin:0 25px;
    color:grey;
    text-align: center;
    padding-left:50px;
    text-decoration: none;
    font-size: 17px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.navbar-brand img{
    padding-left: 100px;
    height: 63px !important;
}
.navbar-nav{
    margin-left: -5px !important;
}
#myCarousel{
    width: 75vw;
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    height: 415px !important;
}
.carousel-item img{
    height: 415px;
}
.carousel-indicators{
  transform: translateX(28vw);
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.block1
{
    margin:auto;
    height:415px;
    width:1020px;
    border:solid;
    border-width:thin;
    border-color:#DCDCDC;
    border-top:0;
}
.firstblock h4{
    font-size: 18px;
}
.block2col{
    padding: 0px;
}
.thmb1
{
  height: 100px;
  margin-left:-10px;
  
}
.block2
{
    margin:auto;
    padding: 1vw;
    height:100%;
    width:75vw;
    border:solid;
    border-width:thin;
    border-color:#DCDCDC;
    background-image: url('../images/lifestyle_box_bg.jpg'); 
    background-size: contain;
}
.block3
{
    margin:auto;
    height:415px;
    width:1020px;
    border:solid;
    border-width:thin;
    border-color:white;    
}
.our_custom
{
    padding-left:0px;
}
h4
{
    padding-left:30px;
    padding-top:20px;
    color:green;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
p
{
   color:grey;
}
#photos
{
    margin-left:28px;
    border-color:green;
    margin-top:10px;
}
#photos3
{
    
    border-color:green;
    margin-top:10px;
   
}
.plifestyle
{
    /* max-width:280px; */
    padding-left: 10px;
    color:grey;
}


.learn_more
{
    border:solid;
    border-width:thin;
    border-color:#DCDCDC;
    height:30px;
    width:170px;
    float:left;
    margin-left:20px;
    margin-top:60px;
    background-color: white;
   
}
.plearn
{
    color:green;
    font-weight: bold;
    padding-left:10px;
    padding-top:5px;
    float:left;
    font-size:15px;
}
.arrow
{
    margin-top:5px;
    margin-left:35px;
    height:10px;
    width: 10px;
}
.vl {
    
    border-left: 0.5px solid rgb(201, 196, 196); 
    height: 300px; 
    position:absolute; 
    left: 36%; 
    border-width: thin;
  }
  .v2 {
   
    border-left: 0.5px solid rgb(201, 196, 196); 
    height: 270px; 
    position:absolute; 
    left: 46%; 
    border-width: thin;
    margin-top:-270px;
  }
  .v3 {
    
    border-left: 0.5px solid rgb(201, 196, 196); 
    height: 300px; 
    position:absolute; 
    left: 61%; 
    border-width: thin;
  }
  
  #lorem
  {
      color:grey;
      padding:0px;
      margin:0px;
      font-size:14px;
      
  }
  #lorem1
  {
      color:green;
      padding:0px;
      margin:0px;
      font-size:14px;
      
  }
  #lorem2
  {
      color:grey;
      padding:0px;
      margin:0px;
      
      max-width: 130px;
  }

  .p1
  {
      padding-left:30px;
  }
  .p1 img:hover
  {
      transform:scale(1.1);
      transition: 1s;
  }
  .pnews
  {
      color:green;
      font-weight: bold;
      padding-left:0px;
  }
  .date
  {
      color:grey;
      font-weight: bold;
      padding-left:0px;
  }
  .exp{
      margin-top:-280px;
      margin-left:54%;
  }
  .photo_text
  {
      color:black;
      padding-left:35px;
      max-width:500px;
  }
  .photo_text1
  {
      color:black;
      padding-left:0px;
      max-width:700px;
  }
  .customer_logo
  {
      padding-left:20px;
  }

footer
{
   background-image: url('../images/footer_bg.jpg');
   height:100px;
   padding-top:20px;
   overflow: hidden;
}
footer a,p
{
    color:white;
    text-decoration: none;
    font-size:12px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-left:10px;
    padding-left:50px;
}

.lastblock{
    margin-top: 3vh;
    display: block;
    width: 75%;
}

.custom{
    width: 77%;
}